
/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,600,700,900&display=swap');


* {
     box-sizing: border-box !important;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: 'Raleway', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px;
}

h2 {
     font-size: 22px;
}

h3 {
     font-size: 18px;
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}
th, td {
  border-bottom: 1px solid #ddd;
}
th {
     background-color: maroon;
     color: white;
   }

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 0px;
     font-weight: 500;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 90px;
}

.layout_padding_2 {
     padding-top: 75px;
     padding-bottom: 75px;
}

.light_silver {
     background: #f9f9f9;
}

.theme_bg {
     background: #38c8a8;
}

.margin_top_30 {
     margin-top: 30px !important;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}

/*--------------------------------------------------------------------- top banner area ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- layout new css ---------------------------------------------------------------------*/

.header {
     width: 100%;
     background: transparent;
     padding: 20px 30px;
     position: absolute;
}

.logo a {
     font-size: 40px;
     font-weight: bold;
     text-transform: uppercase;
     color: #fff;
     line-height: 40px;
}


/** banner section **/

.banner_main {
     /* background: url(../images/banner.jpg); */
     background-color: maroon;
     background-repeat: no-repeat;
     min-height: 500px;
     display: flex;
     justify-content: center;
     align-content: center;
     align-items: center;
     background-size: 100% 100%;
}

.text-bg {
     text-align: center;
     padding-bottom: 50px;
}

.text-bg h1 {
     color: #fff;
     font-size: 50px;
     line-height: 50px;
     padding-bottom: 15px;
     font-weight: bold;
     text-transform: uppercase;
}

.text-bg span {
     color: #fff;
     font-size: 45px;
     line-height: 50px;
     font-weight: bold;
     padding-bottom: 20px;
     display: block;
}

.text-bg p {
     color: #fff;
     font-size: 17px;
     line-height: 28px;
     padding-bottom: 60px;
}

.text-bg a {
     font-size: 17px;
     background-color: #fff;
     color: #000;
     font-weight: 500;
     padding: 13px 0px;
     width: 100%;
     max-width: 190px;
     text-align: center;
     display: inline-block;
     transition: ease-in all 0.5s;
     border-radius: 10px
}

.text-bg a:hover {
     background-color: #eec237;
     color: #fff;
     transition: ease-in all 0.5s;
     border-radius: 25px
}

.titlepage {
     text-align: center;
     padding-bottom: 60px;
}

.titlepage h2 {
     font-size: 55px;
     color: #313131;
     line-height: 60px;
     font-weight: bold;
     padding: 0;
}

.d_flex {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}


/** banner section **/

.form_book {
     background: #fff;
     margin-top: -170px;
     padding: 30px 30px 0px 30px;
     border-radius: 40px 40px 0px 0px;
}

.form_book .date {
     color: #7e7e7e;
     font-weight: bold;
     font-size: 15px;
     text-transform: uppercase;
     padding-left: 17px;
}

.book_n {
    border: inherit;
    border-radius: 20px;
    background-color: #eeeeee;
    width: 100%;
    font-size: 16px;
    height: auto;
    line-height: normal;
    padding: 10px 20px;
     -webkit-appearance: none !important;
}


.book_btn {
     font-size: 17px;
     background-color: #000;
     color: #fff;
     font-weight: 500;
     padding: 5px 0px;
     width: 100%;
     max-width: 161px;
     text-align: center;
     display: inline-block;
     transition: ease-in all 0.5s;
     border-radius: 10px;
     margin-top: 33px;
}

.book_btn:hover {
     background-color: #eec237;
     color: #fff;
     transition: ease-in all 0.5s;
     border-radius: 25px
}


/** banner section **/


/** Choose  section **/


/** Choose  section **/

.choose {
     margin-top: 90px;
}

.choose_box {
     padding-top: 76px;
}

.choose_box .titlepage {
     text-align: left;
     padding-bottom: 35px;
}

.text_norlam {
     font-weight: normal;
}

.choose_box p {
     font-size: 17px;
     line-height: 36px;
     color: #313131;
     padding: 0px 0px 45px 0px;
}

.img_box {
     margin-bottom: 30px;
}

.img_box figure {
     margin: 0;
}

.img_box figure img {
     width: 100%;
}


/** end Choose  section **/


/** our  section **/

.our {
     margin-top: 60px;
}

.our_box .titlepage {
     text-align: right;
     padding-bottom: 30px;
}

.text_norlam {
     font-weight: normal;
}

.our_box {
     text-align: right;
}

.our_box p {
     font-size: 17px;
     line-height: 36px;
     color: #313131;
     padding: 0px 0px 40px 0px;
}

.our .img_box {
     margin-bottom: 0px;
}

.img_box figure {
     margin: 0;
}

.img_box figure img {
     width: 100%;
}


/** end our  section **/


/** about section **/

.about {
     background: #353e4e;
     margin-top: 60px;
     padding: 90px 0;
}

.about .titlepage {
     text-align: left;
     padding: 0;
}

.about .titlepage h2 {
     color: #fff;
     margin-bottom: 20px;
}

.about .titlepage p {
     color: #fff;
     font-size: 17px;
     line-height: 28px;
     font-weight: 500;
     padding-bottom: 30px;
}

.about_text {
     max-width: 539px;
     width: 100%;
     float: right;
}

.about_img {
     max-width: 615px;
     width: 100%;
     float: left;
}

.about_img figure {
     margin: 0;
}

.about_img figure img {
     width: 100%;
}


/** end about section **/

.read_more {
     font-size: 17px;
     background-color: #000;
     color: #fff;
     padding: 13px 0px;
     width: 100%;
     max-width: 190px;
     text-align: center;
     display: inline-block;
     transition: ease-in all 0.5s;
     border-radius: 10px;
}

.read_more:hover {
     background: #eec237;
     color: #fff;
     transition: ease-in all 0.5s;
     border-radius: 25px;
}


/** testimonial section **/

.testimonial {
     margin-top: 80px;
     background: url(../images/tes_bg.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     padding-bottom: 313px;
     margin-bottom: -265px;
}

.testimonial .titlepage h2 {
     color: #313131;
}

.testimonial_Carousel .carousel-caption {
     position: inherit;
     padding: 0;
}

.testimonial_box {
     text-align: center;
}

.test_box {
     padding: 30px 25px;
     background: #d7530a;
}

.testimonial_Carousel .test_box h4 {
     font-size: 17px;
     color: #fff;
     line-height: 18px;
     display: block;
     text-align: left;
     float: left;
     font-weight: 600;
     padding: 0;
     padding-top: 8px;
}

.testimonial_Carousel .test_box i {
     font-size: 17px;
     line-height: 28px;
     text-align: right;
     display: block;
}

.testimonial_Carousel .test_box p {
     font-size: 17px;
     line-height: 28px;
     color: #fff;
     text-align: left;
     padding-top: 20px;
}

.testimonial_Carousel .carousel-indicators {
     bottom: -50px;
}

.testimonial_Carousel .carousel-indicators li {
     width: 20px;
     height: 20px;
     background: #262e31;
     border-radius: 10px;
}

.testimonial_Carousel .carousel-indicators li.active {
     background: #d7530a;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
     display: none;
}


/** end testimonial section **/


/** footer **/

.main_form {
     padding: 50px 30px;
     background: #d7530a;
     margin-top: -260px;
     border-radius: 25px;
}

.main_form .contactus {
     border: inherit;
     padding: 0px 19px;
     margin-bottom: 20px;
     width: 100%;
     height: 60px;
     background: #fff;
     color: #292e39;
     font-size: 18px;
     font-weight: normal;
     border-radius: 15px;
}

.main_form .textarea {
     border: inherit;
     padding: 0px 19px;
     margin-bottom: 20px;
     width: 100%;
     background: #fff;
     color: #292e39;
     font-size: 18px;
     font-weight: normal;
     border-radius: 15px;
     padding-top: 50px;
}

.main_form .send_btn {
     font-size: 17px;
     transition: ease-in all 0.5s;
     background-color: #000;
     color: #fff;
     padding: 13px 0px;
     margin: 0 auto;
     max-width: 200px;
     width: 100%;
     display: block;
     margin-top: 30px;
     border-radius: 10px;
}

.main_form .send_btn:hover {
     background-color: #eec237;
     transition: ease-in all 0.5s;
     color: #fff;
     border-radius: 25px;
}

#request *::placeholder {
     color: #4d4d4f;
     opacity: 1;
}

.multi {
     color: #f6d601;
     font-weight: bold;
     font-size: 40px;
}

.color_chang {
     color: #0c0c0e;
}

.footer {
     margin-top: 265px;
     background: #242423;
     padding-top: 85px;
     text-align: center;
}

.footer .titlepage {
     text-align: left;
     padding-bottom: 10px;
}

.footer .titlepage h2 {
     color: #fff;
}

.cont {
     padding-top: 20px;
     text-align: left;
}

.cont h3 {
     color: #fff;
     font-size: 40px;
     line-height: 50px;
     font-weight: bold;
}

.cont p {
     color: #fff;
     font-size: 17px;
     line-height: 28px;
     padding-top: 20px;
}

.copyright {
     margin-top: 90px;
     padding: 20px 0px;
     background-color: #fff;
}

.copyright p {
     color: #020203;
     font-size: 18px;
     line-height: 22px;
     text-align: center;
}

.copyright a {
     color: #020203;
}

.copyright a:hover {
     color: #eec237;
}


/** end footer **/

